#logoHenry {
  margin-right: 20px;
}

.divNav {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  background-color: lightgray;
}

.imgLogo {
}
.title {
}

.searchBar {
}
